.hero {
    height: 50vh;
    display: flex;
padding-top: 200px;
    align-items: center;
    justify-content: center;
  }
  
  .hero h1 {
    font-size: 3rem;
  }
  
  #about img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .container p{
color: black;
  }
  